*{
    margin: 0;padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 35px;
    background-color: #fff;
    position: sticky;
    top: 0;
    /* margin-left: 30px; */
/* margin-right: 30px; */
    align-items: center;
    padding: 10pX 15%;

    margin-bottom: 20px;
    z-index: 99;

}

.header-left{
    display: flex;
 
}
.header-left img{
    height: 35px;
    margin-right: 10px;
}
.header-serch{
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    padding: 3px 10px;
    /* border: 1px solid black; */
    border-radius: 5px;


}
.header-serch input{
    background-color: transparent;
    outline: 0;
    height: 25px;
    width: 250px;
    border: none;
}
/* .header-serch:hover{
    width: 300px;
    height: 25px;
    border: 1px solid black;
} */

.header-right{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    
}

.headers-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    height: 40px;
    color: rgba(0, 0, 0, 0.68);
    position: relative;
    cursor: pointer;
}

